<h1><%= @article.title %></h1>

<p><%= @article.text %></p>

<h2>Комментарии:</h2>

<% @article.comments.each do |comment| %>
	<p>
	<i><%= comment.author %> сказал:</i>
	<%= comment.body %>
	<%= link_to 'del', article_comment_path(@article, comment), method: :delete, data: { confirm: 'Вы уверены?' } %>
	<%= link_to 'edit', edit_article_comment_path(@article, comment) %>
	</p>
<% end %>

<p>
	<%= form_for([@article, @article.comments.build]) do |f| %>
		<p>
			<%= f.label 'Автор' %><br>
			<%= f.text_field :author %>
		</p>
		<p>
			<%= f.label 'Комментарий' %><br>
			<%= f.text_area :body %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>


</p>