<!DOCTYPE html>
<html>
<head>
  <title>Blojik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <a href="/users/sign_in">Sign In</a> | <a href="/users/sign_out" data-method="delete">Sign Out</a> -->
<% if user_signed_in? %>
	Вы зашли, как <%= current_user.username %> | <%= link_to 'выйти', destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to 'войти', new_user_session_path %> или <%= link_to 'зарегистрироваться', new_user_registration_path %>
<%end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
